obj/
bin/
nupkgs/
build/
cmake/cmake-x-xx/
cmake-build-debug/
cmake-build-release/
tools/snapx/
TestResults/

.vs/
.snap
.idea/
.vscode/

src/Snap\.sln\.DotSettings\.user
packages-microsoft-prod.deb*
