[submodule "src/Snap.DemoApp"]
	path = src/Snap.DemoApp
	url = https://github.com/peters/snap.demoapp.git
[submodule "src/Vendor/gtest"]
	path = src/Vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "src/Vendor/crossguid"]
	path = src/Vendor/crossguid
	url = https://github.com/graeme-hill/crossguid.git
[submodule "src/Vendor/plog"]
	path = src/Vendor/plog
	url = https://github.com/SergiusTheBest/plog.git
