name: snapx

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop

# NOTE: Remember to update docker images if you update .NET sdks

env:
  GITVERSION_VERSION: 5.10.3
  MSVS_TOOLSET_VERSION: 16
  SNAPX_DOTNET_FRAMEWORK_VERSION: net6.0
  DOTNET_NET60_VERSION: 6.0.400
  DOTNET_NET70_VERSION: 7.0.100-preview.7.22377.5
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: 1
  SNAPX_CI_BUILD: 1
  SNAPX_CORERUN_ALLOW_ELEVATED_CONTEXT: 1

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      SNAPX_VERSION: ${{ steps.set-version.outputs.SNAPX_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Add dotnet tools to environment path
        shell: pwsh
        run: echo "${HOME}/.dotnet/tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - id: set-version
        name: Setup GitVersion and set build version
        shell: pwsh
        run: |
          dotnet tool update GitVersion.Tool --global --version ${{ env.GITVERSION_VERSION }}
          $SNAPX_VERSION = (dotnet gitversion /showVariable NugetVersionv2) | out-string
          echo "::set-output name=SNAPX_VERSION::$SNAPX_VERSION"

  linux:
    runs-on: ${{ matrix.os }}
    name: Bootstrap ${{ matrix.rid }}-${{ matrix.configuration }}
    needs: [setup]
    strategy:
      matrix:
        configuration: [Debug, Release]
        rid: [linux-x64, linux-arm64]
        os: [ubuntu-latest]
    env:
      SNAPX_VERSION: ${{ needs.setup.outputs.SNAPX_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: true
          submodules: true

      - uses: azure/docker-login@v1
        name: Docker login github packages
        with:
          login-server: ghcr.io
          username: ${{ github.actor }}
          password: ${{secrets.GITHUB_TOKEN }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            ${{ env.DOTNET_NET60_VERSION }}
            ${{ env.DOTNET_NET70_VERSION }}

      - name: Build native
        shell: pwsh
        run: ./build.ps1 Bootstrap-Unix -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

      - name: Test native
        if: matrix.rid != 'linux-arm64'
        shell: pwsh
        run: ./build.ps1 Run-Native-UnitTests -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

      - name: Test .NET
        if: matrix.rid != 'linux-arm64'
        shell: pwsh
        run: ./build.ps1 Run-Dotnet-UnitTests -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

      - name: Collect artifacts
        env:
          SNAPX_UNIX_SETUP_ZIP_REL_DIR: build/dotnet/${{ matrix.rid }}/Snap.Installer/${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }}/${{ matrix.configuration }}/publish
          SNAPX_UNIX_CORERUN_REL_DIR: build/native/Unix/${{ matrix.rid }}/${{ matrix.configuration }}/Snap.CoreRun
          SNAPX_UNIX_CORERUN_TESTS_REL_DIR: build/native/Unix/${{ matrix.rid }}/${{ matrix.configuration }}/Snap.CoreRun.Tests
          SNAPX_UNIX_PAL_REL_DIR: build/native/Unix/${{ matrix.rid }}/${{ matrix.configuration }}/Snap.CoreRun.Pal
        run: |
          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_SETUP_ZIP_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_SETUP_ZIP_REL_DIR }}/Setup-${{ matrix.rid }}.zip ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_SETUP_ZIP_REL_DIR }}/Setup-${{ matrix.rid }}.zip

          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_CORERUN_REL_DIR }}/corerun ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_REL_DIR }}/corerun

          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun_demoapp ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun_demoapp
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun_tests ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun_tests
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/test.ico ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/test.ico

          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_PAL_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_UNIX_PAL_REL_DIR }}/libpal.so ${{ github.workspace }}/artifacts/${{ env.SNAPX_UNIX_PAL_REL_DIR }}/libpal.so

      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-${{ matrix.rid }}-${{ matrix.configuration }}
          path: ${{ github.workspace }}/artifacts/**/*

  windows:
    runs-on: ${{ matrix.os }}
    name: Bootstrap ${{ matrix.rid }}-${{ matrix.configuration }}
    needs: [setup]
    strategy:
      matrix:
        configuration: [Debug, Release]
        rid: [win-x86, win-x64]
        os: [windows-latest]
    env:
      SNAPX_VERSION: ${{ needs.setup.outputs.SNAPX_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: true
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            ${{ env.DOTNET_NET60_VERSION }}
            ${{ env.DOTNET_NET70_VERSION }}

      - name: Build native
        run: ./build.ps1 Bootstrap-Windows -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

      - name: Test native
        shell: pwsh
        run: ./build.ps1 Run-Native-UnitTests -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

      - name: Test .NET
        shell: pwsh
        run: ./build.ps1 Run-Dotnet-UnitTests -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

      - name: Collect artifacts
        env:
          SNAPX_WINDOWS_SETUP_ZIP_REL_DIR: build/dotnet/${{ matrix.rid }}/Snap.Installer/${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }}/${{ matrix.configuration }}/publish
          SNAPX_WINDOWS_CORERUN_REL_DIR: build/native/Windows/${{ matrix.rid }}/${{ matrix.configuration }}/Snap.CoreRun/${{ matrix.configuration }}
          SNAPX_WINDOWS_PAL_REL_DIR: build/native/Windows/${{ matrix.rid }}/${{ matrix.configuration }}/Snap.CoreRun.Pal/${{ matrix.configuration }}
        run: |
          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_WINDOWS_SETUP_ZIP_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_WINDOWS_SETUP_ZIP_REL_DIR }}/Setup-${{ matrix.rid }}.zip ${{ github.workspace }}/artifacts/${{ env.SNAPX_WINDOWS_SETUP_ZIP_REL_DIR }}/Setup-${{ matrix.rid }}.zip

          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_WINDOWS_CORERUN_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_WINDOWS_CORERUN_REL_DIR }}/corerun.exe ${{ github.workspace }}/artifacts/${{ env.SNAPX_WINDOWS_CORERUN_REL_DIR }}/corerun.exe

          mkdir -p ${{ github.workspace }}/artifacts/${{ env.SNAPX_WINDOWS_PAL_REL_DIR }}
          cp ${{ github.workspace }}/${{ env.SNAPX_WINDOWS_PAL_REL_DIR }}/pal.dll ${{ github.workspace }}/artifacts/${{ env.SNAPX_WINDOWS_PAL_REL_DIR }}/pal.dll

      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-${{ matrix.rid }}-${{ matrix.configuration }}
          path: ${{ github.workspace }}/artifacts/**/*

  #test-linux-arm64:
  #  name: Test ${{ matrix.rid }}-${{ matrix.configuration }}
  #  runs-on: [self-hosted, linux, ARM64]
  #  needs: [setup, linux]
  #  strategy:
  #    matrix:
  #      include:
  #        - rid: linux-arm64
  #          configuration: Debug
  #        - rid: linux-arm64
  #          configuration: Release
  #  env:
  #      SNAPX_UNIX_CORERUN_TESTS_REL_DIR: build/native/Unix/${{ matrix.rid }}/${{ matrix.configuration }}/Snap.CoreRun.Tests
  #      SNAPX_VERSION: ${{ needs.setup.outputs.SNAPX_VERSION }}
  #  steps:
  #    - name: Checkout
  #      uses: actions/checkout@v3
  #     with:
  #       fetch-depth: 0
  #
  #    - name: Download ubuntu-latest-${{ matrix.rid }}-${{ matrix.configuration }} artifacts
  #      uses: actions/download-artifact@v3
  #      with:
  #        name: ubuntu-latest-${{ matrix.rid }}-${{ matrix.configuration }}
  #        path: ${{ github.workspace }}
  #

  #    - name: Setup .NET
  #      uses: actions/setup-dotnet@v2
  #      with:
  #        dotnet-version: |
  #          ${{ env.DOTNET_NET60_VERSION }}
  #          ${{ env.DOTNET_NET70_VERSION }}

  #
  #    - name: Test native
  #      run: |
  #        chmod +x ${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun_tests
  #        ./${{ env.SNAPX_UNIX_CORERUN_TESTS_REL_DIR }}/corerun_tests
  #
  #    - name: Test .NET
  #      shell: pwsh
  #      run: ./build.ps1 Run-Dotnet-UnitTests -Version ${{ env.SNAPX_VERSION }} -Configuration ${{ matrix.configuration }} -CIBuild -NetCoreAppVersion ${{ env.SNAPX_DOTNET_FRAMEWORK_VERSION }} -Rid ${{ matrix.rid }}

  publish:
    if: success() && (github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/master')
    runs-on: ubuntu-latest
    name: Publish
    needs: [setup, windows, linux] # todo: enable me when github actions supports arm64: test-linux-arm64
    env:
      SNAPX_VERSION: ${{ needs.setup.outputs.SNAPX_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Download ubuntu-latest-linux-arm64-Release artifacts
        uses: actions/download-artifact@v3
        with:
          name: ubuntu-latest-linux-arm64-Release
          path: ${{ github.workspace }}

      - name: Download ubuntu-latest-linux-x64-Release artifacts
        uses: actions/download-artifact@v3
        with:
          name: ubuntu-latest-linux-x64-Release
          path: ${{ github.workspace }}

      - name: Download windows-latest-win-x86-Release artifacts
        uses: actions/download-artifact@v3
        with:
          name: windows-latest-win-x86-Release
          path: ${{ github.workspace }}

      - name: Download windows-latest-win-x64-Release artifacts
        uses: actions/download-artifact@v3
        with:
          name: windows-latest-win-x64-Release
          path: ${{ github.workspace }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: |
            ${{ env.DOTNET_NET60_VERSION }}
            ${{ env.DOTNET_NET70_VERSION }}

      - name: Add dotnet tools to environment path
        shell: pwsh
        run: echo "${HOME}/.dotnet/tools" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Build nupkgs
        shell: pwsh
        run: ./build.ps1 -Target Snapx -CIBuild -Version ${{ env.SNAPX_VERSION }} -Configuration Release

      - name: Push nuget packages
        shell: pwsh
        run: |
          $nupkgs = Get-ChildItem ".\${{ env.GITHUB_WORKSPACE }}\nupkgs" -Filter *.nupkg | Select-Object -ExpandProperty FullName

          $nupkgs | ForEach-Object {
            dotnet nuget push $_ --source nuget.org --api-key ${{ secrets.PETERSUNDE_NUGET_ORG_API_KEY }}       
            if($LASTEXITCODE -ne 0) 
            {
              Write-Error "Error uploading nupkg: $_"
            }
          }

      - name: Create github release tag
        if: github.ref == 'refs/heads/master'
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.SNAPX_VERSION }}
          release_name: Release v${{ env.SNAPX_VERSION }}
          draft: true
          prerelease: false
